/ChatService/nbproject/private/
/ChatService/build/
/ChatService/dist/
/tugas3/IdentityService/build/
/tugas3/IdentityService/dist/
/tugas3/IdentityService/nbproject/private/
/tugas3/MarketplaceWebService/build/
/tugas3/MarketplaceWebService/nbproject/private/
/tugas2/IdentityService/build/
/tugas2/IdentityService/dist/
/tugas2/IdentityService/nbproject/private/
/tugas2/MarketplaceWebService/build/
/tugas2/MarketplaceWebService/nbproject/private/
/tugas2/MarketplaceWebService/dist/