<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee    http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LogoutPost</servlet-name>
        <servlet-class>com.wakasta.tubes2.LogoutPost</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterPost</servlet-name>
        <url-pattern>/RegisterPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginPost</servlet-name>
        <url-pattern>/LoginPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutPost</servlet-name>
        <url-pattern>/LogoutPost</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
         E:\Labs\dump\
        </param-value>
    </context-param>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>UploadServlet</servlet-class>
        <multipart-config>
            <!--  50MB max  -->
            <max-file-size>52428800</max-file-size>
            <max-request-size>52428800</max-request-size>
            <file-size-threshold>0</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>com.wakasta.tubes2.AddProductPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterPost</servlet-name>
        <servlet-class>com.wakasta.tubes2.RegisterPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginPost</servlet-name>
        <servlet-class>com.wakasta.tubes2.LoginPost</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
</web-app>
